<html>
<head>
    <meta charset="utf-8"/>
    <title>Slim 3</title>
    <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link href='{{ base_url() }}/assets/css/style.css' rel='stylesheet' type='text/css'>
</head>
<body>
<h1>Slim</h1>
<div>a microframework for PHP</div>

{% if flash %}
    <div style="margin:30px auto;">
        {% for f in flash %}
            <p>{{ f }}</p>
        {% endfor %}
    </div>
{% endif %}
</body>
</html>